
body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #0e7a4d, #fda085);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}