
body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #0e7a4d, #fda085);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.boton-salir {
    margin-top: 5px;
    padding: 10px 20px;
    background-color: #e74c3c; 
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.boton-salir:hover {
    background-color: #c0392b; 
}
